<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boka2">

    <application
        android:name=".Sharedapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_boka2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_boka2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Boka2">
        <activity
            android:name=".splash"
            android:exported="true"
            android:theme="@style/SplasScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".a_localizaradmin"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD_7Moi9uDVjtGa6XLtPL8nYeGQJrwjz2U" />

        <activity
            android:name=".a_calendario"
            android:exported="true" />
        <activity
            android:name=".a_carta"
            android:exported="true" />
        <activity
            android:name=".a_quienesSomos"
            android:exported="true" />
        <activity
            android:name=".a_reservas"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".a_perfil"
            android:exported="true" />
        <activity
            android:name=".a_localizacion"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".a_registro"
            android:exported="true" />
        <activity
            android:name=".a_login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>

</manifest>